@import url("https://fonts.googleapis.com/css2?family=Inter&family=PT+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

/*------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
}
body.menu-opened {
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.burger {
  display: none;
}

@media screen and (max-width: 1023px) {
  .burger {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: auto;
  }
  .burger__bar {
    background-color: #000;
    width: 50px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .burger__bar::before {
    background-color: #000;
    content: "";
    width: 50px;
    height: 6px;
    position: absolute;
    top: -16px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    left: 0;
  }
  .burger__bar::after {
    background-color: #000;
    content: "";
    width: 50px;
    height: 6px;
    position: absolute;
    top: 16px;
    left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .burger.active .burger__bar {
    background-color: rgba(0, 0, 0, 0);
  }
  .burger.active .burger__bar::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
  }
  .burger.active .burger__bar::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
.header {
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  color: #828282;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__linkh {
  color: #000;
}

.header__item {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 1023px) {
  .header {
    border: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    left: 0;
    top: 0;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-right: 70px;
    padding-left: 28px;
    padding-top: 50px;
  }
  .header.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__link {
    padding: 0;
    font-size: 34px;
  }
  header {
    padding-top: 50px;
  }
  .header-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 68px;
  }
}
.main-info {
  background-color: #fff;
  padding-bottom: 100px;
  padding-top: 40px;
}

.main-info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.name {
  color: #070707;
  max-width: 123px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.short-info {
  color: #000;
  max-width: 181px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f6f6f6;
}

.about-me__h2 {
  color: #070707;
  font-size: 34px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.about-me__text {
  color: #070707;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  word-wrap: break-word;
}

.skills {
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.skills__h2 {
  color: #070707;
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.skills__p {
  color: #070707;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__item {
  width: 25%;
}

.skills__name {
  color: #828282;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;
  max-width: 70px;
}

.skills__png {
  margin-bottom: 24px;
}

@media screen and (max-width: 1023px) {
  .skills__png {
    height: 70px;
    width: auto;
  }
  .skills__figma {
    max-height: 83px;
  }
  .skills__svg {
    max-width: 75%;
  }
}
.portfolio {
  background-color: #f6f6f6;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  text-align: center;
}

.portfolio__h2 {
  margin-bottom: 40px;
  color: #070707;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.portfolio__img {
  margin-bottom: 45px;
  width: 100%;
}

.portfolio__link {
  display: block;
  margin-bottom: 100px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  color: #070707;
}
.portfolio__link:last-child {
  margin-bottom: 0;
}

footer {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer.change-bg-footer {
  background-color: #b84040;
}

.contacts {
  color: #fff;
  padding-bottom: 100px;
  padding-top: 100px;
}

.contacts__h2 {
  margin-bottom: 20px;
  color: #070707;
  font-size: 34px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contacts__text1 {
  margin-bottom: 30px;
  color: #070707;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contacts__button {
  background-color: #000;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 70px;
  width: 180px;
  height: 42px;
  margin-bottom: 50px;
}
.contacts__button span {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contacts__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 345px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.contacts__item {
  max-width: 40px;
  max-height: 40px;
}

.contacts__text2 {
  color: #828282;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 767px) {
  .skills__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .skills__item {
    width: calc((100% - 30px) / 2);
  }
  .main-info__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
  .h1.name,
  .short-info {
    text-align: left;
  }
  .burger {
    display: block;
    position: relative;
    width: 50px;
    height: 30px;
  }
  .burger::before {
    background-color: #000;
    content: "";
    width: 50px;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .burger::after {
    background-color: #000;
    content: "";
    width: 50px;
    height: 6px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .burger__bar {
    background-color: #000;
    width: 50px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header {
    border: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
  }
}
@media screen and (max-width: 500px) {
  .skills__item {
    width: 100%;
  }
}