// Обнулювання

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

/*------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter&family=PT+Sans:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  &.menu-opened {
    overflow: hidden;
  }
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

// ---------------------------------------Burger Menu------------------------------------//
.burger {
  display: none;
}

@media screen and (max-width: 1023px) {
  .burger {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: auto;
    cursor: pointer;
  }
  .burger__bar {
    background-color: #000;
    width: 50px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    &::before {
      background-color: #000;
      content: "";
      width: 50px;
      height: 6px;
      position: absolute;
      top: -16px;
      transition: 0.3s;
      left: 0;
    }
    &::after {
      background-color: #000;
      content: "";
      width: 50px;
      height: 6px;
      position: absolute;
      top: 16px;
      left: 0;
      transition: 0.3s;
    }
  }
  .burger.active .burger__bar {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
  }

  .burger.active .burger__bar::before {
    transform: rotate(45deg);
    top: 0;
    background-color: #828282;
    border-radius: 5px;
    width: 30px;
    left: 10px;
  }
  .burger.active .burger__bar::after {
    top: 0;
    border-radius: 5px;
    width: 30px;
    left: 10px;
    background-color: #828282;

    transform: rotate(-45deg);
  }
}
// ------------------------------------NavBar/Header-------------------------------------//
.header {
  background-color: #fff;
  border-bottom: 1px solid #000;
}
.header-list {
  display: flex;
  justify-content: space-between;
}
.header__link {
  color: #828282;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: 0.3s;

  &:hover {
    color: #000;
  }
}

.header__item {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 1023px) {
  .header {
    border: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    left: 0;
    top: 0;
    transform: translateX(100vw);
    transition: 0.3s;
    padding-right: 70px;
    padding-left: 28px;
    padding-top: 50px;
  }
  .header.active {
    transform: translateX(0);
  }
  .header__link {
    padding: 0;
    font-size: 34px;
  }

  header {
    padding-top: 50px;
  }
  .header-list {
    flex-direction: column;

    gap: 68px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    border: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
  }
}

// ----------------------------------------Main info-----------------------------------------//
.main-info {
  background-color: #fff;
  padding-bottom: 100px;
  padding-top: 40px;
}
.main-info__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.name {
  color: #070707;
  max-width: 123px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.short-info {
  color: #000;
  max-width: 181px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
.main-info__photo-mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .main-info__text {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .h1.name,
  .short-info {
    text-align: left;
  }
}
@media screen and (max-width: 500px) {
  .main-info__photo-mobile {
    display: block;
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
  }
  .main-info__photo {
    display: none;
  }
}

// ----------------------------------------About me--------------------------//
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f6f6f6;
}
.about-me__h2 {
  color: #070707;
  font-size: 34px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.about-me__text {
  color: #070707;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  word-wrap: break-word;
  max-width: 440px;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .about-me__text {
    max-width: 440px;
  }
}
// --------------------------------------------Skills--------------------------------------------//
.skills {
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}
.skills__h2 {
  color: #070707;
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
.skills__p {
  color: #070707;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
}
.skills__list {
  display: flex;
  justify-content: space-between;
}
.skills__item {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.skills__name {
  color: #828282;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;
  max-width: 80px;
  min-height: 36px;
}
.skills__png {
  margin-bottom: 24px;
}
.skills__svg {
  margin-top: auto;
}

@media screen and (max-width: 1023px) {
  .skills__png {
    height: 70px;
    width: auto;
  }
  .skills__figma {
    max-height: 83px;
  }
  .skills__svg {
    max-width: 75%;
  }
}
@media screen and (max-width: 767px) {
  .skills__list {
    flex-wrap: wrap;
    gap: 30px;
  }
  .skills__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 500px) {
  .skills__item {
    width: 100%;
  }
}
// -------------------------------------Portfolio-----------------------------------//
.portfolio {
  background-color: #f6f6f6;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  text-align: center;
}
.portfolio__h2 {
  margin-bottom: 40px;
  color: #070707;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
// ---------------------------------Slider----------------------//
.image-slider {
  overflow-y: hidden;
  overflow-x: hidden;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.image-slider__image {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.image-slider__link {
  display: block;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  color: #070707;
}
// -----------------------------------------Contacts/Footer-------------------------------------------//
footer {
  transition: 0.3s;
  &.change-bg-footer {
    background-color: #b9d8c5;
  }
}
.contacts {
  color: #fff;
  padding-bottom: 100px;
  padding-top: 100px;
}
.contacts__h2 {
  margin-bottom: 20px;
  color: #070707;
  font-size: 34px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contacts__text1 {
  margin-bottom: 30px;
  color: #070707;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts__button {
  background-color: #6d8c79;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 70px;
  max-width: 180px;
  width: 100%;
  height: 42px;
  margin-bottom: 50px;
  transition: 0.3s;
  & span {
    color: #fff;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &:hover {
    background-color: #40b86e;
  }
}

.contacts__icons {
  display: flex;
  justify-content: space-between;
  max-width: 345px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.contacts__item {
  max-width: 40px;
  max-height: 40px;
}
.contacts__text2 {
  color: #828282;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 500px) {
  .contacts__button {
    max-width: 340px;
  }
}
// ----------------------------------------------------------------------------//
